* p{
    font-size:14px;
    color:#666666;
}
input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 6px;
    background-clip: content-box;
    border: 1.5px solid #635252;
    background-color: #ffffff14;
    border-radius: 50%;
  }
  
/* appearance for checked radiobutton */
input[type="radio"]:checked {
background-color: #333333;
padding:2px
}
.page-title-wrapper{
    display: none;
}
.feature-product{
    text-align:center;
}
.navigation .level0.active > .level-top{
    border-color: #333333 !important;
}
.minicart-wrapper .action.showcart .counter.qty{
    background: #333333 !important;
    color: #ffff;
}
.margin-top-gap{
    margin-top: 6.25rem !important;
}
.custombanner .column-banner1{
    float: left; 
    width: 60%;
    padding: 5px;
}
.custombanner .column-banner2{
    float: left; 
    width: 38%;
    padding: 5px;
}
.custombanner .column-banner3{
    float: left; 
    width: 38%;
    padding: 5px;
}
.custombanner .column-banner4{
    float: left; 
    width: 60%;
    padding: 5px;
}
/* image css */
.custombanner .banner1{
    height: 460px;
    width: 100%;
}
.custombanner .banner2{
    height: 460px;
    width: 100%;
}
/* .logo{
    left:22vw;
} */
.block-search input{
    height:48px;
}
.header.content{
    display: flex;
    align-items: center;
    padding: 10px 0px!important;
    margin-right: 20px;
}
.block-search .action.search{
    top:15% !important;
    right:unset;
    left:22px;
}
.mobile-logo svg{
    display: none;
}
.minicart-wrapper .action.showcart:before{
    color: #ffffff;
    display: flex;
    align-items: center;
    content:'';
}
.minicart-wrapper .action.showcart:hover::before {
    color: #ffff;
}
.minicart-wrapper .action.showcart{
    display: flex;
    align-items: center;
}

div.minicart-wrapper a.action.showcart span.text{
    font-size: 14px;
    width: auto;
    clip: auto;
    height: auto;
    color: white;
    display: inline-block;
    position: relative;
    margin-left: 5px;
}
.page-wrapper > .breadcrumbs{
    margin-top:1.625rem;
}
.breadcrumbs .items{
    font-size: 16px !important;
}
.breadcrumbs .item:not(:last-child)::after{
    margin:0 !important;
}
.page-with-filter .toolbar-amount{
    font-size: 16px !important;
}
.modes{
    display:none !important;
}
.toolbar select {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none;
    margin: 0 0 0 -10px;
    width: 10px;
}
.cms-home .page-main{
    padding:0 !important;
}
#search_mini_form .control input#search{
    padding:0 25px;
    font-size: 16px;
    background:#E9E9E9;
    border:none;
}
/* .nav-toggle{
    display: block !important;
    top:50% !important;
} */
/* hero banner */
.hero-banner{
    position: relative;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
}
.hero-banner img{
    min-height:230px;
}
.hero-banner .banner-content{
    position: absolute;
    top:30%;
    left:10%;
}
.hero-banner .banner-content .header-sub-title{
    font-size:28px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.hero-banner .banner-content .header-title{
    color: #fff;
    font-size:82px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 2;
}
@import url('/Muli-Bold.ttf');
*{
    font-family: 'muli', sans-serif !important;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.hero-banner button{
    color:#fff;
    border:2px solid #fff;
    padding:2.125rem 3.125rem ;
    background:none;
    font-size:24px;
    text-transform: uppercase;
    transition:all 0.3s ease-in-out;
}
.hero-banner button:hover{
    background:#fff;
    color:#7ebdcc;
    border-color: #fff;
}
h2.section-title{
    font-size:36px;
    text-transform: uppercase;
    font-weight: 600;
}
.product-item-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.products-grid .product-item-info{
    position: sticky;
    z-index: 0;
}
.products-grid .product-item-inner{
    /* display: block;
    box-shadow: none !important;
    border:none;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    z-index: 111; */
    position: relative;
}
.products-grid .product-item-actions{
    margin:auto;
}
.products-grid .product-item-info:hover .float-cart{
    opacity: 1;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    background:#fff;
    box-shadow:none;
    border:none;
    margin:0;
    padding:0;

}
.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner{
    display: block;
    box-shadow: none !important;
    border:none;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    z-index: 111;
    clip: unset;
}
.action.tocart::after{
    font-size: 22px;
    line-height: 28px;
    color: #757575;
    content: '\e611';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.product-item .price-box{
    text-align: left;
    margin:0 !important;
}

/* review container */
.review-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.review{
    width:24%;
    background:#E9E9E9;
    padding:4.6875rem 3.125rem;
}
.review .review-date{
    color:#707070;
    font-size: 0.875rem;
}
.review .ratings{
    margin-bottom: 10px;

}
.review .review-title{
    font-weight: bold;
    font-size:14px;
    margin-top: 20px;
    margin-bottom: 0;
}
.review .review-desc{
    font-size:14px;
}
.review .reviewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.review .reviewer .reviewer-name>p{
    margin-bottom: 0;
}
.review .reviewer .reviewer-name{
    margin-left:14px;
}
/* Footer */

.page-footer .block-static-block{
    text-align:center;
}
.footer-list{
    text-align:left;
}
.panel.header{
    display: flex;
    padding: 10px 50px !important;
}
.footer.content .links li{
    font-size: 16px !important;
    color:#707070 !important;
    text-transform: capitalize;
}
.navigation .level0{
    margin:0 !important;
}
.navigation .level0 > .level-top{
    text-transform: uppercase;
    font-size: 18px;
}
.product-item-info .float-cart{
    position: absolute;
    top: 34%;
    z-index: 11;
    left: 19%;
    outline: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.product-item-info .float-cart button>span{
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    vertical-align: middle;
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    top: 8px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding:0;
    margin-left:8px;
}

.product-item-info .float-cart .action.tocart::after {
    position: relative;
    top:-6px;
    margin-right: 6px;
    color:#fff;
}
.product-item-info .float-cart button>{
    transition: 0.3s all ease-in-out;
}
/* CATEGORIA PAGE */

.whatsapp-link{
    position: fixed;
    bottom: 10px;
    right: 27px;
    width: inherit;
    min-height: inherit;
    transform: scale(0.6);
    cursor: pointer;
    z-index: 111;
}
/* input{
    outline:none;
    border:none !important;
} */
button:not(.primary){
    box-shadow: none;
}
.col-payment .icon-payment {
    margin-right: 26px;
}
.nav-sections{margin-bottom:0px !important}


/* qa verification */

/* .nav-sections-item-content > .navigation{
    padding:0 30px;
} */
.header.panel > .header.links > .authorization-link::after{
    margin:0 !important;
}
.header.panel > .header.links > li{
    margin:0 0 0 4px !important;
}
.panel.header .instagram-link{
    margin-left:14px;
}
.panel.header .top-header-links{
    display: flex;
    align-items: center;
}
.panel.header .header-offer{
    margin-left: 22px;
    font-size: 16px;
    text-transform: uppercase;
}
.product-item-name{
    text-align: left;
    margin:0 !important;
}
.price-wrapper[data-price-type="oldPrice"]{
    text-decoration: line-through;
}
.product-item .price-box .price-label{
    display: none;
}
.overlay-menu .menu-logo>a>img{
    height: auto;
}
svg{
    width:24px;
}

.slick-arrow{
    background-color: #fff !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
    width: 4.375rem !important;
    height:4.375rem !important;
    border-radius: 50%;
}
.slick-prev::before,.slick-next::before{
    font-weight: lighter;
    font-size: 31px !important;
}
.product-item-name, .product.name a{
    font-weight: 600 !important;
    font-size: 24px;
    max-width:200px;
}
.product-item .price-box .price{
    font-weight: lighter !important;
}
.sale-product-icon {
    background-color: #4c4d4f;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    border: 1px solid #707070;
    position:absolute;
    z-index: 11;
}

/* wish list */
a.action.towishlist span{
    display: none;
}
.product-item .action.towishlist:before{
    display:none;
}

/* side bar */
.sidebar .widget.block:not(:last-child), .sidebar .widget:not(:last-child){
    color: #666666;
}
/* custom h3 */
.widget.block.block-static-block h3{
    font-size: 16px !important;
}
.storie-newsletter-sidebar::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #00000057;
}
.sidebar.sidebar-additional .block.block-reorder{
    display: none;
}
.sidebar #layered-filter-block{
    display: none !important;
}
.feature-product,.cms-home .widget.block-static-block{
    padding:0 20px;
}
/* Bss ProductWidget */
.slick-dots{
    display: none !important;
}

/* Review Block in Product Details */
.catalog-product-view div.column.main{
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
div.product-info-main{
    order:2;
}
div.product.media{
    order:1;
}
div.product.info.detailed{
    order:3;
    display: inline-block;
    width: 100%;
}
div.block.review-add{
    order:5;
    position: relative;
    display:flex;
    width:100%; 
    display: none;
}
div.block.review-add .block-title{
    width:100%;
    padding:10px 35px;
}
div.block.review-add .block-content{
    width:100%;
    padding:10px 35px;
}
div.block.review-add .block-content form{
    margin:auto;
}
div#product-reviews-container{
    order:4;
    position: relative;
    display: flex;
    flex-direction: column;
    width:100vw;
    background: #E9E9E9;
    margin-left:-50vw;
    left:50%;
    padding: 50px 17%;
}
div#product-reviews-container .block-title{
    text-align: left;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
div#product-reviews-container .block-container{
    display: flex;
}
#product-reviews-container div#average-rating{
    width:30%;
    text-align:left;
}
#product-reviews-container div#product-review-container{
    width:70%;
    text-align:center;
}



/* custom product detail */
.product-info-main .product-info-price{
    display: flex !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    text-align: left !important;
    vertical-align: top;
    flex-direction: column-reverse;
}
.product-info-main .product-info-stock-sku{
   display: block !important; 
   padding-bottom: 0 !important;
   padding-left: 0 !important;
   text-align: left !important;
}
.product-info-main .product.attribute.sku .type{
    display: none;
}
.product-info-main .product.attribute.sku .value{
    font-size: 3rem;
    font-weight: bold;
}
.product-info-main .product-info-price .price-box {
    width:auto;
}
div.price-box span.special-price span.price{
    margin:0;
    display:inline-block;
    font-size: 21px;
}
div.price-box span.old-price span.price{
    margin-left:14px;
    display:inline-block;
    font-size: 18px;
    font-weight: lighter !important;
}
.product-info-main .price-box .price-container .price{
    font-size: 2.25rem !important;
    font-weight: lighter;
}
.product-reviews-summary .rating-summary{
    display: none;
}
.product-reviews-summary .reviews-actions,.product-info-main .stock.available{
    
}
.product-info-main .product-info-price .price-box .old-price .price-container span.price-label{
    display:none;
    
}
.product-reviews-summary .reviews-actions a:not(:last-child){
    color:#666666;
    font-size:14px;
    font-weight: lighter;
    margin-right: 2px;
    text-transform: lowercase;
}
.product-reviews-summary .reviews-actions .action.add {
    font-size: 14px;
    color:#1A1A1A;
    font-weight: bold;
}
.product-info-main .product-add-form div.box-tocart div.field.qty{
    display:inline-block;
}
.product-info-main .product-add-form div.box-tocart div.field.qty .label{
    display:none;
}
.product-info-main .product-add-form div.box-tocart div.field.qty input{
    height:81px;
    width:187px;
    font-size: 28px;
}
.product-info-main .product-add-form div.box-tocart div.actions{
    display:inline;
}
.product-info-main .product-add-form div.box-tocart button{
    margin-bottom: 14px;
    margin-left:25px;
}
.product-info-main .product-add-form div.box-tocart button span{
    text-transform: uppercase;
    padding: 2.2rem 2.3125rem;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    top: 8px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin-left: 8px;    
}
.product-reviews-summary div.reviews-actions a svg{
    margin-right:10px;
}
.catalog-product-view .product-social-links{
    margin:0 !important;
}
.product-social-links a.towishlist span{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 10px;
    font-weight: lighter;
}
.product-social-links .action.towishlist:before{
    display:none;
}
.product-info-main .product-info-price {
    border-bottom:none;
}

div.product.media .top-header-links{
    display:none;
}
.gallery-placeholder{
    width: 100%;
}
.gallery-placeholder .fotorama__stage{
    height:450px! important;
}
.fotorama__stage__frame .fotorama__img{
    width:450px !important;
}
div.fotorama__nav.fotorama__nav--thumbs{
    display: none;
}
.page-products .product-reviews-summary{
    display: none;
}
/* Product detail tabs */
.product.info.detailed div.data.item.title a.data{
    border: 0px;
    padding:8px 1px 0px 1px;
    background:#fff;
}
.product.info.detailed div.data.item.title{
    margin:0px 15px;
}
.product.info.detailed div.data.item.title.active{
    border-bottom: 1px solid #000000;
}
.product.info.detailed div.data.item.title.active a.data{
    color:#000000;
}
.product.info.detailed div.data.item.content{
    padding:0px;
    border:none;
    margin-top:60px;
}
.product.info.detailed{
    padding:10px 140px;
}
.product.info.detailed div.data.item.title:first-child{
    margin-left:0;
}
.product.info.detailed div.data.item.title:last-child{
    margin-right:0;
}

/* Review Average */
#product-reviews-container div#average-rating div.rating-content div.rating-result:before{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #c7c7c7;
    font-family: 'luma-icons';
    font-size: 14px;
    height: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

div#average-rating div.rating-content{
}

div#average-rating div.rating-label{
    color:#1A1A1A;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
}
#product-reviews-container div#average-rating div.rating-content div.rating-result{
    width: 88px;
    display: inline-block;
    position: relative;
    margin-left:20px;
}
#product-reviews-container div#average-rating div.rating-content  div.rating-result > span{
    overflow:hidden;
    display:block;
}
#product-reviews-container div#average-rating div.rating-content  div.rating-result > span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: 'luma-icons';
    font-size: 14px;
    height: 14px;
    letter-spacing: 2px;
    line-height: 14px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
#product-reviews-container div.rating-total{
    font-size: 14px;
    color:#666666;
}

div.rating-percent-container{
    margin:30px 0px;
    font-size:14px; 
    color:#666666;
}
div.rating-percent-container .rating-percent{
    height:20px;
    margin-bottom: 5px;
}
div.rating-percent-container .rating-percent >progress{
    height:inherit;
    vertical-align: middle;
    margin-left:5px;
    border: 1px solid #666666;
}
progress[value] {
    background-color: transparent;
}
progress[value]::-webkit-progress-bar {
    background-color:transparent;
}
progress[value]::-webkit-progress-value {
    background-color: #1a1a1a;
}
.catalog-subcategory span.subcategory{
    display: block;
}
.catalog-subcategory span.subcategory a{
    font-size:14px;
    color:#666666;
    line-height:1.7;
    text-transform: uppercase;
}
.catalog-subcategory >:first-child{
    margin-top:10px;
}
.catalog-subcategory >:last-child{
    margin-bottom:50px;
}


@media only screen and (min-width:768px){
    .nav-sections-item-content > .navigation{
        background:#ffffff;
    }
    .navigation {
        background: #ffffff;
    }
    .nav-sections-item-content {
        background: #ffffff;
    }
    .footer.content .links {
        display:block !important;
        padding-right:5px !important;
    }
    .footer.content .block {
        float: none !important;
    }
    .footer.content ul {
        padding-right: 0px !important;
    }
}
/* progress[value]::-moz-progress-bar {
    background-color: #000;
} */

.product-review-form-container .review-form-title{
    color:#1A1A1A;
    font-size: 18px;
    font-weight: bold;
}
.product-review-form-container .review-form-subtitle{
    color:#666666;
    font-size: 14px;
    margin-bottom: 42px;
}
.product-review-form-container .btn-review{
    border: 1px solid #1A1A1A;
    height: 56px;
    font-size: 14px;
}

#product-reviews-container div#product-review-container{
    position: relative;
    margin-left: 15px;
}
#product-reviews-container div#product-review-container div.review-empty{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #1A1A1A;
    float: left;
}
#product-review-container div.block-content li span.review-icon{
    float: left;
    width: 46px;
    height: 46px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
#product-review-container div.block-content li div.review-details{
    text-align:left;
    width:100%;
    text-transform: capitalize;
    color:#1A1A1A;
    font-size: 18px;
}
#product-review-container div.block-content li div.review-details .review-author span{
    display:none;
}
.review-author .review-details-value{
    color:#1A1A1A;
    font-size: 18px;
    font-weight: bold;
}
#product-review-container div.review-date{
    float:left;
    font-size: 14px;
    color:#666666;
    margin-right:30px;
}
#product-review-container div.review-date span.review-details-label{
    display:none;
}
#product-review-container div.review-ratings{
    float:none;
}
#product-review-container div.review-ratings span.rating-label{
    display:none;
}
#product-review-container div.review-content{
    margin:0;
    text-align: left;
    font-size: 14px;
    color:#1A1A1A;
    float: left;
}
.rating-summary .rating-result > span:before {
    color:#000 !important;
}
.review-item {
    border-bottom:none;
    display: flex;
    flex-direction: column;
}
.review-item .rev-1{
    margin-bottom: 14px;
}
.review-item .rev-3{
    display: flex;
    flex-direction: column;
    margin-top:10px;
    align-items: flex-start;
    font-size: 14px;
}
.box-tocart .control{
    position: relative;
}
.count-minus{
    position: absolute;
    left: 5%;
    top: 28%;
    font-size: 24px;
    cursor: pointer;
}
.count-plus{
    position: absolute;
    right: 5%;
    top: 36%;
    font-size: 15px;
    cursor: pointer;
}
.fotorama__arr{
    width: 140px !important;
    transform: scale(0.5);
}
div.block.related{
    order:5;
    width:100%;
    text-align: center;
    margin:55px 0;
}
div.block.related .block-title{
    width:100%;
}
div.block.related .block-title strong{ 
    color:#1A1A1A;
    font-weight: 100;
    font-size: 36px;
}
div.block.related .block-content{
    width:100%;
}
div.block.related .block-content .block-actions{
    display:none;
}
div.block.related .product-image-container{
    width:311px!important;
}
div.block.related .product-item-info.related-available{
    width:311px;
}
div.block.related .item.product.product-item{
    width:311px;
    margin:5px 30px;
}
div.block.related .field.choice.related{
    display:none;
}

/* Image Slide in Home page */
div.image-total{
    height:14px;
    width: 100%;
    text-align: center;
}
div.image-total span.image-dot{
    height:14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
}
div.product-item-info a.product-item-photo:hover{
    text-decoration:none;
}
div.product-item-info div.product-item-details{
    margin-top: 21px;
}
.slick-track .reviews-actions,.page-products .reviews-actions{
    display: none;
}
.fotorama__arr__arr {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
}
.page-products .toolbar .limiter{
    display: flex !important;
    float: right;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 16px;
    color:#666666;
}
.page-products .sorter{
    font-size: 16px;
    color:#666666;
}
.page-products .toolbar .limiter>label{
    display: none;
}
.page-products .toolbar .limiter .control{
    margin-left: 10px;
}
.page-footer .footer-list{
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.page-footer .h4-font{
    font-size: 16px !important;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-margin-17{
    margin-bottom: 17px !important;
}
.copyright{
    display: none;
}
.copyright-section{
    margin-top:20px;
    color: #707070;
    font-size: 14px;
    align-items: center;
}
.copyright-section .col-copyright1{
    text-align: left;
}
.copyright-section .icon-payment>img{
    height:33px;
    margin-left: 18px;
}
.copyright-section .icon-payment>a{
    margin-left: 10px;
}
.column1 .banner{
    border: 1px solid #000;
    padding: 20px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column1 .banner .banner-subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.bottom-banner{
    margin-top:50px;
}
.bottom-banner div.row{
    justify-content: space-around;
}
.bottom-banner .column1{
    width: 30%;
}
.bottom-banner .column2{
    width:60%;
    position: relative;
}
.bottom-banner .column2 img{
    height: 100%;
    width: 100%;
}
.bottom-banner .newsletter-content{
    position: absolute;
    bottom: 20px;
    left:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#fff;
    width: 100%;
    align-items: center;
}
.newsletter-content .btn-newsletter{
    color:#fff;
    background:#000;
    padding:24px 20px;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border:1px solid #fff;
    transition: all 0.3s ease-in-out;
}
.newsletter-content .btn-newsletter:hover{
    background:#fff;
    color:#000;
    border-color:#000;
}

.grid-container.promo-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 390px 60px;
    grid-gap: 20px;
}
.promo-banner .promo-banner-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
}
.promo-banner .promo-banner-1-content{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    z-index:2;
    margin-left: 0px;
    margin-right: 0px;
    display: table;
}

.promo-banner .promo-banner-1-content div{
    width: 50%;
} 

.promo-banner .promo-banner-1-content div.content{
    padding-left:10px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.promo-banner .promo-banner-1-content div.button-link{
    padding-right:10px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.promo-banner .grid-child img{
    width: 100%;
    height: 100%;
}
.promo-banner .promo-banner-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-container.promo-image{
    padding-top:20px;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: 450px;
    grid-gap: 20px;
}

.promo-image .promo-image-1{
    grid-column-start:1;
    grid-column-end:2;
}
.promo-image .promo-image-2{
    grid-column-start:2;
    grid-column-end:3;
}
.promo-image img{
    height:100%;
    width: 100%;
}
/* .navigation{
    display: none !important;
} */
.overlay{display:none;}

.overlay-menu{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#ffff;
    z-index: 111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.overlay-menu .menu-logo{
    margin-bottom: 55px;
    position: relative;
    bottom: 82px;
  }
.overlay-menu .menu-logo>img{
    width:397px;
}
.overlay-menu .splash-nav{
display:flex;
flex-direction:row;
justify-content:space-between;
position: relative;
bottom: 5px;
}
.overlay-menu .splash-nav>a{
    margin:0 22px;
}
.overlay-menu .splash-nav .splash-btn{
background:#000;
color:#fff;
font-weight:500;
font-size:24px;
padding:34px 66px;
transition:all 0.3s ease-in-out;
cursor:pointer;
border:1px solid;
}
.overlay-menu .splash-nav .splash-btn:hover{
background:#fff;
color:#000;
border:1px solid #000;
}
.overlay-menu .splash-nav .splash-btn:hover a{
    color:#000;
}
.nav-open body{
    overflow: hidden;
    height:100vh;
}
.overlay-menu a{
    color:#fff;
}
.overlay-menu a:hover{
    text-decoration: none;
    color:#000;
}
.coriweb{
    text-align: center;
    color: #666666;
    font-size: 22px;
    position: absolute;
    bottom: 18px;
    font-family: 'Nunito', sans-serif !important;
}

/* Splash Menu */
.column .overlay-menu{
    display: flex;
}

/* @media only screen and (max-width: 1366px){
    .logo {
        left: 37%;
    }
} */

/* Evidenza */
.evidenza-banner .evidenza-column .promobanner img{
    object-fit: cover;
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}
.evidenza-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 25px;
}

.promobanner .text{
    text-align: left;
    position: relative !important;;
    padding:10px 0px 0px 0px !important;
    color:#000000 !important;
    margin-left: 1px;
}

.promobanner .banner-text{
    
}

.promobanner .banner-title{
    font-weight: bold;
    font-size: 36px;
}

.promobanner .banner-subtitle{
    font-style: normal;
    margin-bottom: 12px;
    font-size: 18px;
}

.promobanner .btn-promo-banner{
    font-size: 17px;
    color: #000;
    background: #fff;
    padding: 10px 18px;
    border: 2px solid black;
    box-shadow: none;
    text-transform: uppercase;
}

.promobanner .btn-promo-banner:hover{
    color:#fff;
    background:#000;
}

/* Grid section */
.section-grid{
    position: relative;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    background:#666666;
    margin-bottom:50px;
}
.section-grid div.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-template-rows: 260px; */
}
p.testimonial{
    font-size: 18px !important;
}
.yereone-testimonial-meta .yereone-testimonial-date {
    font-size: 14px;
}
.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-title span {
    font-size: 16px;
}

#product-options-wrapper div.field  label:first-child span{
    font-size:  16px;
    text-transform: uppercase;
    font-weight: 500;
}
#product-options-wrapper div.field  label:after{
    content:'';
}
#product-options-wrapper div.field  div.control #options-1-list div.field.choice{
    font-size:  16px;
    text-transform: lowercase;
    display: inline-block;
    margin-right: 7px;
}
#product-options-wrapper div.field  div.control #options-1-list div.field.choice input{
    vertical-align: inherit;
    margin-right:7px;
}
#product-options-wrapper  #options-1-list div.field.choice label span.price-notice{
    display: none;
}
.product-social-links a.towishlist span{
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 10px;
    font-weight: lighter;
}
.yereone-testimonial-content span {
    font-size: 16px;
    color: #707070;
}
.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-author span {
    font-size:  18px;
}
.yereone-testimonial-jobandcompany{
    font-size:  16px;
}

.section-grid div.grid div.grid-item{
    text-align: center;
    padding:40px 0px;
}

.section-grid img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.section-grid h2{
    color:#ffffff;
    margin-bottom: 10px;
    font-size:32px;
    font-weight: bold;
}
.section-grid div.sub-title{
    color:#D9D9D9;
    margin-bottom: 10px;
    font-size:16px;
}

/* Newsletter */
.storie-newsletter{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
}
.storie-newsletter img{
    max-height: 325px;
    width: 100%;
    object-fit: cover;
}
.storie-newsletter div.newsletter-content{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    width: 100%;
}
div.newsletter-content .newsletter-title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color:#fff;
}
div.newsletter-content .newsletter-subtitle{
    font-size: 18px;
    color:#fff;
    text-align: center;
}
div.newsletter-content div.block.newsletter{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: auto;
    margin-top:35px;
}
.block.newsletter .field .control:before {
    display:none;
}
.block.newsletter input {
    height: 50px;
    width: 300px;
    padding:0px;
    text-align: center;
}
form.form.subscribe div.actions button{
    height: 50px;
    font-size:1.3rem;
    background:#1A1A1A;
    border-color: #1A1A1A;
    font-weight: 500;
}

    /* Newsletter Sidebar  */
.storie-newsletter-sidebar{
    position:relative;
    text-align: center;
}
.storie-newsletter-sidebar img{
    height: 450px;
    object-fit: cover;
    width:100%;
}
.storie-newsletter-sidebar div.newsletter-content {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    width: 100%;
    padding:17px 20px;
}

.storie-newsletter-sidebar div.newsletter-content .newsletter-title {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}
.storie-newsletter-sidebar div.newsletter-content .newsletter-subtitle{
    font-size: 16px;
    color:#fff;
    text-align: left;
}

.storie-newsletter-sidebar form.subscribe input{
    width:180px;
    margin:0px;
    display: none;
}
.storie-newsletter-sidebar form.form.subscribe div.actions button {
    border-color: #fff;
    background:transparent;
}
.storie-newsletter-sidebar form.subscribe div.actions{
    display: block;
}
.storie-newsletter-sidebar form.subscribe button{
    width:180px;
}
.storie-newsletter-sidebar div.newsletter-content div.block.newsletter {
    margin-top:30px;
    margin-bottom:0px;
    justify-content: flex-start;
}
 /* Sidebar Categories Anchor */
.sidebar-additional div.block-compare, div.block-wishlist{
    display:none;
}
.block-title strong{
    font-size: 3.25rem;
    text-transform: uppercase;
}
.catalog-category span.category{
    display: block;
}
.catalog-category span.category a{
    font-size:14px;
    color:#666666;
    line-height:1.7;
    text-transform: uppercase;
}
.catalog-category >:first-child{
    margin-top:10px;
}
.catalog-category >:last-child{
    margin-bottom:50px;
}
@media (min-width: 1400px){
    .footer.content, .footer div.container{
    max-width:100% !important;
    }

}

@media (min-width: 768px){
    .header.panel > .header.links {
        display: flex;
        align-items: center;
    }
}
@media  screen and (max-width: 767px){
    .footer.content .links li{
        font-size:14px !important;
    }
    .hero-banner{
        height: 433px;
    }
    .hero-banner img {
        min-height: 230px;
        height: 100%;
        object-fit: cover;
        object-position: 76%;
    }
    .panel.header{
        padding:10px !important;
        justify-content: space-between;
        align-items: center;
    }
    .panel.header .header-offer{
        display: block;
        position: absolute;
        top: 160px;
        z-index: 11;
        width: 150px;
        left: 16px;
    }
    .minicart-wrapper{
        margin-top:0;
    }
    .header.content{
        justify-content: flex-end;
        padding: 10px!important;
    }
    .header.content .logo{
        display: none;
    }
    .block-search {
        margin:0 !important;
    }
    .block-content .field.search{
        position: relative;
    }
    .block-search .control{
        padding:0 !important;
        border:none !important;
    }
    .block-search .label{
        position: absolute;
        z-index: 11;
        left: 0;
        top: 21%;
    }
    .block-search input{
        position: relative !important;
        left:0 !important;
        padding: 10px 20px 10px 36px !important;
        margin:0 !important;
        background: transparent;
    }
    .mobile-logo svg{
        display: block;
        width: 100%;
        margin-left: 26px;
        margin-top: 0px;    
    }
    .cms-home .page-main{
        padding:0 20px !important;
    }
    .footer.content .links a{
        padding: 0 !important;
    }
    .product-item-name, .product.name a{
        font-size:18px;
    }
    div.price-box span.special-price span.price{
        font-size:16px;
    }
    div.price-box span.old-price span.price{
        font-size:13px;
    }
    /* mobile version for category */
    .page-with-filter .columns .sidebar-main{
        order:2;
    }
    .page-products .panel.header .header-offer,.catalog-product-view .panel.header .header-offer{
        display: none;
    }
    .page-products .columns{
        padding:0 !important;
    }
    .page-with-filter .toolbar-amount{
        display: none;
    }
    .page-products .toolbar .limiter{
        display: none !important;
    }
    .page-products .sorter{
        position: relative;
        float: left;
    }
    .storie-newsletter-sidebar form.subscribe input{
        display: block;
        width: 286px;
        padding: 24px 40px;
        height: auto;
    }
    .storie-newsletter-sidebar div.newsletter-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .storie-newsletter-sidebar div.newsletter-content .newsletter-title{
        font-size: 21px;
    }
    .storie-newsletter-sidebar div.newsletter-content .newsletter-subtitle{
        font-size: 13px;
    }
    .storie-newsletter-sidebar div.newsletter-content .newsletter-title,.storie-newsletter-sidebar div.newsletter-content .newsletter-subtitle{
        text-align: center;
    }
    /* detail page */
    div#product-reviews-container .block-container{
        flex-direction: column;
    }
    #product-reviews-container div#average-rating{
        width:100%;
    }
    #product-reviews-container div#product-review-container{
        width:100%;
        text-align: left;
    }
    div#product-reviews-container{
        padding: 30px 20px;
    }
    #product-reviews-container div#product-review-container div.review-empty{
        position: relative;
        left:0;
        top: 0;
        transform: none;
    }
    #product-reviews-container div#product-review-container{
        max-height: 500px;
        height: 500px;
        margin: 0;
        overflow-y: scroll;
    }
    .product.info.detailed div.data.item.title{
        margin: 0;
    }
    .product.info.detailed{
        padding: 20px;
    }
    .product-options-bottom .box-tocart .fieldset{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .product-options-bottom .box-tocart .field.qty{
        margin: 0 !important;
    }
    .product-info-main .product-add-form div.box-tocart button{
        margin:0;
    }
    .product-reviews-summary .reviews-actions{
        display: none !important;
    }
    div.product-info-main{
        position: relative;
    }
    .catalog-product-view .product-social-links{
        position: absolute;
        top: 40px;
        right: 0;
    }
    .product-social-links a.towishlist span{
        display: none;
    }
    svg{
        width: 20px;
    }
    .product-info-main .product-info-price{
        padding: 10px !important;
    }
    .whatsapp-link{
        right: 10px;
        bottom: 21px;
    }
    .product-info-main .product.attribute.sku .value{
        font-size: 18px;
    }
    .product-info-main .price-box .price-container .price{
        font-size: 18px !important;
    }
    .product-info-main .stock.available{
        position: absolute;
        top: -100%;
        right: 0;
    }
}

@media only screen and (max-width: 575px){
    .footer-list{
        text-align:center;
    } 
}

/* copyright */
.copyright-section{
    padding-top:20px;
}
.col-copyright1{
    text-align:left;
}

.copyright1{
    font-size:14px;
}

.col-payment{
    text-align:right;

}
.col-payment img{
    height:33px;
}
.col-copyright1{
    text-align:left;
}
.footer-quicklink{
    padding-bottom:7px;
}
.footer-quicklink:first-child .h4-font{
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .col-payment{
        text-align:center;
    }
    .col-copyright1{
        text-align:center;
    }
}
.copyright{
    display: none;
}


/* Bottom Banner */

@media screen and  (max-width:500px){
    .bottom-banner .column1 , .bottom-banner .column2{
        width:100%;
        text-align: center;
    }
    .bottom-banner .column2 img{
        float:none !important;
        width: 100% !important;
        min-height: 150px;
    }
    .bottom-banner .column1 .banner{
        float:none !important;
        width: 100% !important;
    }
    
}




@media only screen and (min-width:768px){
    .nav-sections-item-content > .navigation{
        background:#ffffff;
    }
    .navigation {
        background: #ffffff;
    }
    .nav-sections-item-content {
        background: #ffffff;
    }
    .footer.content .links {
        display:block !important;
        padding-right:5px !important;
    }
    .footer.content .block {
        float: none !important;
    }
    .footer.content ul {
        padding-right: 0px !important;
    }
}
@media only screen and (max-width: 991px) {
    /* Hero banner */
    .hero-banner .banner-content .header-sub-title {
        font-size: 1.5rem;
    }
    .hero-banner .banner-content .header-title {
        font-size: 3.25rem;
    }
    .hero-banner button {
        border: 1px solid #fff;
        padding: 1.125rem 2.125rem;
        font-size: 1.5rem;
    }
     /* Bottom banner newsletter */
     h2.section-title {
        font-size: 21px;
    }
    p.testimonial{
        font-size: 14px;
    }
    .bottom-banner .newsletter-content{
        left:0px;
    }
    .newsletter-content .btn-newsletter {
        padding: 10px 10px;

    }

    /* Evidenza banner categories */
    .evidenza-column {
        flex: 50%;
        -ms-flex: 50%;
        max-width: 50%;
        padding: 0 25px;
    }
}

@media only screen and (max-width: 767px) {
    /* Hero banner */
    .hero-banner .banner-content{
        display: flex;
        flex-direction: column;
    }
    .hero-banner .banner-content .header-sub-title {
        font-size: 18px;
        order: 3;
        margin-top: 20px;
    }
    .hero-banner .banner-content button{
        width: fit-content;
    }
    .hero-banner .banner-content .header-title {
        font-size: 48px;
        width: 80%;
        line-height: 1;
        margin-bottom: 20px;
    }
    .hero-banner button {
        border: 1px solid #fff;
        padding: 1.125rem 2.125rem;
        font-size: 1.5rem;
    }
    .copyright-section .col-copyright1 {
        text-align: center;
        margin-bottom:10px;
    }
    .evidenza-column {
        max-width: 50%;
        padding: 10px;
    }
    .evidenza-banner .evidenza-column .promobanner img{
        min-height: 230px;
    }
    .section-grid div.grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section-grid div.grid div.grid-item{
        width: 50%;
    }
    .section-grid{
        padding:20px;
    }
    .section-grid h2{
        font-size: 18px;
    }
    .section-grid div.sub-title{
        font-size: 14px;
    }
    .section-grid img{
        width: 48px;
        height: 48px;
    }
    .promobanner .banner-title{
        font-size: 21px;
    }
    .promobanner .banner-subtitle{
        font-size: 14px;
    }
    .evidenza-column .banner-button{
        display: none;
    }
    .page-footer .h4-font{
        font-size:14px !important;
    }
    .copyright-section{
        flex-direction: column-reverse;
    }
    .copyright1{
        font-size:16px;
    }
    .block.newsletter .action.subscribe{
        height: auto;
        padding:24px 40px;
        width: fit-content;
    }
    div.newsletter-content .newsletter-title{
        font-size: 21px;
    }
    div.newsletter-content .newsletter-subtitle{
        font-size: 14px;
    }
    .storie-newsletter div.newsletter-content{
        padding:28px;
    }
    .block.newsletter input{
        width: 230px;
        margin-right: 0px;
        text-align: left;
        padding: 24px;
        height: auto;
    }
    .footer.content{
        background: #E9E9E9;
    }
    #search_mini_form .control input#search{
        background: transparent;
    }
    .page-header{
        margin-bottom: 0 !important;
    }
    div.minicart-wrapper a.action.showcart span.text{
        display: none;
    }
    .header.panel > .header.links{
        display: block !important;
    }
    .header.links > li ,.header.links > li.authorization-link span.text{
        display: none !important;
    }
    .header.links > li.authorization-link{
        display: block !important;
    }
    .header.links > li.authorization-link > a > svg{
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container.promo-image{
        grid-template-rows: 180px;
    }
    .grid-container.promo-banner{
        grid-template-rows: 200px 60px;
    }
    .bottom-banner .column1{
        width:60%
    }
    .column1 .banner{
        text-align: center;
    }
    .column1 .banner img{
        display:block;
        margin:auto;
    }
    .bottom-banner .column2 {
        width: 80%;
        margin-top:10px;
    }

    /* Newsletter */

    div.newsletter-content .newsletter-title {
        font-size: 20px;
    }
    div.newsletter-content .newsletter-subtitle {
        font-size: 14px;
        color: #fff;
    }
    .block.newsletter .actions {
        display:block;
        padding-top: 10px;
    }
    form.form.subscribe div.actions button {
        width:300px;
    }

    /* Footer */
    .page-footer .footer-list {
        text-align: center;
    }
    .yereone-testimonials{
        background: #e9e9e9;
    }
    .storie-newsletter{
        height: 440px;
    }
    .storie-newsletter img {
        max-height: 440px;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .block.newsletter .actions{
        width:100% !important;
    }
    form.form.subscribe div.actions button{
        width: 180px;
    }
    .col-xs-6.col-sm-4.col-md-4.col-lg-2.footer-quicklink:first-child {
        display: block;
        text-align: left;
    }
    .col-xs-6.col-sm-4.col-md-4.col-lg-2.footer-quicklink {
        display: none;
    }
    .footer-margin-17{
        margin-bottom: 17px !important;
    }
    .feature-product, .cms-home .widget.block-static-block{
        padding:0 !important;
    }
    .col-md-6.col-payment{
        padding: 0 46px 0 0 !important;
    }
    .col-payment .icon-payment{
        margin-right: 0 !important;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .col-payment .icon-payment .facebook-link{
        order:3;
    }
} 

@media only screen and (max-width: 450px) {
    .grid-container.promo-image{
        grid-template-rows: auto;
    }
    .grid-container.promo-banner{
        grid-template-rows: 200px 70px;
    }
    .grid-child.promo-banner-1{
        grid-column-end: 4;
    }
    .promo-banner .promo-banner-1-content {
        grid-column-end: 4;
    }
    .grid-child.promo-banner-2{
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .grid-container .promo-image-1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-container .promo-image-2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* Newsletter and bottom banner */
    .bottom-banner .column1{
        width:90%
    }
    .bottom-banner .newsletter-content {
        bottom:0px;
        align-items:flex-end;
    }
    .newsletter-content .btn-newsletter {
        padding:3px 3px;
    }
    .newsletter-content div:nth-child(2){
        padding:10px
    }
    .newsletter-content div:nth-child(2) {
        padding: 5px;
    }
    div.newsletter-content div.block.newsletter {
        margin-top:2px;
    }
    .block.newsletter input {
        height: 30px;
        width: 230px;
        margin-right: 0px;
    }
    form.form.subscribe div.actions button{
        width: 230px;
        height: 30px;
    }
    /* Evidenza banner categories
    .evidenza-column {
        flex: 100%;
        -ms-flex: 100%;
        max-width: 100%;
        padding: 0 25px;
    } */
}

@media only screen and (max-width: 300px) {
    /* Hero banner */
    .hero-banner .banner-content .header-sub-title {
        font-size: 1.2rem;
    }
    .hero-banner .banner-content .header-title {
        font-size: 2.0rem;
    }
    .hero-banner button {
        border: 1px solid #fff;
        padding: 1.125rem 2.125rem;
        font-size: 1.5rem;
    }

    .grid-container.promo-banner{
        grid-template-rows: 100px 100px;
    }
    
    /* Newsletter */
    .newsletter-content div:nth-child(2) {
        padding: 0px;
    }
    div.newsletter-content div.block.newsletter {
        margin-top:2px;
    }
    .block.newsletter input {
        height: 20px;
        width: 200px;
        margin-right: 0px;
    }
    .block.newsletter .actions {
        padding-top: 0px;
    }
    form.form.subscribe div.actions button{
        width: 200px;
        height: 20px;
        font-size:1.14px;
        padding-top:0px !important;
        padding-bottom:0px!important;
    }
}
/* .columns:after {
    clear:none;
} */
