* p{
    font-size:13px;
    color:#666666;
}
.page-title-wrapper{
    display: none;
}
.feature-product{
    text-align:center;
}

.margin-top-gap{
    margin-top: 6.25rem !important;
}
.custombanner .column-banner1{
    float: left; 
    width: 60%;
    padding: 5px;
}
.custombanner .column-banner2{
    float: left; 
    width: 38%;
    padding: 5px;
}
.custombanner .column-banner3{
    float: left; 
    width: 38%;
    padding: 5px;
}
.custombanner .column-banner4{
    float: left; 
    width: 60%;
    padding: 5px;
}
/* image css */
.custombanner .banner1{
    height: 460px;
    width: 100%;
}
.custombanner .banner2{
    height: 460px;
    width: 100%;
}
/* .logo{
    left:22vw;
} */
.block-search input{
    height:48px;
}
.header.content{
    display: flex;
    align-items: center;
}
.block-search .action.search{
    top:15% !important;
    right:unset;
    left:22px;
}
.minicart-wrapper{
    display: none;
}
#search_mini_form .control input#search{
    padding:0 25px;
    background:#E9E9E9;
    border:none;
}
/* .nav-toggle{
    display: block !important;
    top:50% !important;
} */
/* hero banner */
.hero-banner{
    position: relative;
}
.hero-banner img{
    min-height:230px;
}
.hero-banner .banner-content{
    position: absolute;
    top:20%;
    left:10%;
}
.hero-banner .banner-content .header-sub-title{
    font-size:1.75rem;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.hero-banner .banner-content .header-title{
    color: #fff;
    font-size:5.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 2;
}
@import url('/Muli-Bold.ttf');
*{
    font-family: 'muli', sans-serif !important;
}
.hero-banner button{
    color:#fff;
    border:2px solid #fff;
    padding:2.125rem 3.125rem ;
    background:none;
    font-size:1.5rem;
    text-transform: uppercase;
    transition:all 0.3s ease-in-out;
}
.hero-banner button:hover{
    background:#fff;
    color:#7ebdcc;
    border-color: #fff;
}
h2.section-title{
    font-size:2.25rem;
    text-transform: uppercase;
    font-weight: 600;
}
.product-item-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.products-grid .product-item-info{
    position: sticky;
    z-index: 0;
}
.products-grid .product-item-inner{
    /* display: block;
    box-shadow: none !important;
    border:none;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    z-index: 111; */
    position: relative;
}
.products-grid .product-item-actions{
    margin:auto;
}
.products-grid .product-item-info:hover .float-cart{
    opacity: 1;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    background:#fff;
    box-shadow:none;
    border:none;
    margin:0;
    padding:0;

}
.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner{
    display: block;
    box-shadow: none !important;
    border:none;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    z-index: 111;
    clip: unset;
}
.action.tocart::after{
    font-size: 22px;
    line-height: 28px;
    color: #757575;
    content: '\e611';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.product-item .price-box{
    text-align: left;
    margin:0 !important;
}

/* review container */
.review-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.review{
    width:24%;
    background:#E9E9E9;
    padding:4.6875rem 3.125rem;
}
.review .review-date{
    color:#707070;
    font-size: 0.875rem;
}
.review .ratings{
    margin-bottom: 10px;

}
.review .review-title{
    font-weight: bold;
    font-size:1rem;
    margin-top: 20px;
    margin-bottom: 0;
}
.review .review-desc{
    font-size:1rem;
}
.review .reviewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.review .reviewer .reviewer-name>p{
    margin-bottom: 0;
}
.review .reviewer .reviewer-name{
    margin-left:16px;
}
/* Footer */

.page-footer .block-static-block{
    text-align:center;
}
.footer-list{
    text-align:left;
}


@media  screen and (max-width: 767px){
.footer.content .links li{
    font-size:13px;
}
}

@media only screen and (max-width: 575px){
    .footer-list{
        text-align:center;
    } 
}

/* copyright */
.copyright-section{
    padding-top:20px;
}
.col-copyright1{
    text-align:left;
}

.copyright1{
    font-size:14px;
}

.col-payment{
    text-align:right;

}
.col-payment img{
    height:33px;
}
.col-copyright1{
    text-align:left;
}
.footer-quicklink{
    padding-bottom:7px;
}

@media screen and (max-width: 767px) {
    .col-payment{
        text-align:center;
    }
    .col-copyright1{
        text-align:center;
    }
}
.copyright{
    display: none;
}


/* Bottom Banner */

@media screen and  (max-width:500px){
    .bottom-banner .column1 , .bottom-banner .column2{
        width:100%;
        text-align: center;
    }
    .bottom-banner .column2 img{
        float:none !important;
        width: 100% !important;
        min-height: 150px;
    }
    .bottom-banner .column1 .banner{
        float:none !important;
        width: 100% !important;
    }
    
}
.page-footer .footer-list{
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.page-footer .h4-font{
    font-size: 1.125rem !important;
    font-weight: bold;
    text-transform: uppercase;
}
.footer.content .links li{
    font-size: 1.125rem !important;
    color:#707070;
    text-transform: capitalize;
}
.copyright{
    display: none;
}
.copyright-section{
    margin-top:20px;
    color: #707070;
    font-size: 1rem;
    align-items: center;
}
.copyright-section .col-copyright1{
    text-align: left;
}
.copyright-section .icon-payment>img{
    height:33px;
    margin-left: 18px;
}
.column1 .banner{
    border: 1px solid #000;
    padding: 20px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column1 .banner .banner-subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.bottom-banner{
    margin-top:50px;
}
.bottom-banner div.row{
    justify-content: space-around;
}
.bottom-banner .column1{
    width: 30%;
}
.bottom-banner .column2{
    width:60%;
    position: relative;
}
.bottom-banner .column2 img{
    height: 100%;
    width: 100%;
}
.bottom-banner .newsletter-content{
    position: absolute;
    bottom: 20px;
    left:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#fff;
    width: 100%;
    align-items: center;
}
.newsletter-content .btn-newsletter{
    color:#fff;
    background:#000;
    padding:24px 20px;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border:1px solid #fff;
    transition: all 0.3s ease-in-out;
}
.newsletter-content .btn-newsletter:hover{
    background:#fff;
    color:#000;
    border-color:#000;
}

.grid-container.promo-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 390px 60px;
    grid-gap: 20px;
}
.promo-banner .promo-banner-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;
}
.promo-banner .promo-banner-1-content{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    z-index:2;
    margin-left: 0px;
    margin-right: 0px;
    display: table;
}

.promo-banner .promo-banner-1-content div{
    width: 50%;
} 

.promo-banner .promo-banner-1-content div.content{
    padding-left:10px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.promo-banner .promo-banner-1-content div.button-link{
    padding-right:10px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.promo-banner .grid-child img{
    width: 100%;
    height: 100%;
}
.promo-banner .promo-banner-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-container.promo-image{
    padding-top:20px;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: 450px;
    grid-gap: 20px;
}

.promo-image .promo-image-1{
    grid-column-start:1;
    grid-column-end:2;
}
.promo-image .promo-image-2{
    grid-column-start:2;
    grid-column-end:3;
}
.promo-image img{
    height:100%;
    width: 100%;
}
/* .navigation{
    display: none !important;
} */
.overlay{display:none;}

.overlay-menu{
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#ffff;
    z-index: 111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.overlay-menu .menu-logo{
    margin-bottom: 55px;
  }
.overlay-menu .menu-logo>img{
    width:397px;
}
.overlay-menu .splash-nav{
display:flex;
flex-direction:row;
justify-content:space-between;
}
.overlay-menu .splash-nav>a{
    margin:0 1.125rem;
}
.overlay-menu .splash-nav .splash-btn{
background:#000;
color:#fff;
font-weight:bold;
font-size:1.5rem;
padding:2.0625rem 4.125rem;
transition:all 0.3s ease-in-out;
cursor:pointer;
border:1px solid;
}
.overlay-menu .splash-nav .splash-btn:hover{
background:#fff;
color:#000;
border:1px solid #000;
}
.overlay-menu .splash-nav .splash-btn:hover a{
    color:#000;
}
.nav-open body{
    overflow: hidden;
    height:100vh;
}
.overlay-menu a{
    color:#fff;
}
.overlay-menu a:hover{
    text-decoration: none;
    color:#000;
}
.coriweb{
    text-align: center;
    margin-top: 150px;
    color: #666666;
    font-size: 12px;
}

/* Splash Menu */
.column .overlay-menu{
    display: flex;
}

/* @media only screen and (max-width: 1366px){
    .logo {
        left: 37%;
    }
} */

/* Evidenza */
.evidenza-banner .evidenza-column .promobanner img{
    object-fit: cover;
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}
.evidenza-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 25px;
}

.promobanner .text{
    text-align: left;
    position: relative !important;;
    padding:10px 0px 0px 0px !important;
    color:#000000 !important;
    margin-left: 1px;
}

.promobanner .banner-text{
    
}

.promobanner .banner-title{
    font-weight: bold;
    font-size: 21px;
}

.promobanner .banner-subtitle{
    font-style: normal;
    margin-bottom: 12px;
}

.promobanner .btn-promo-banner{
    font-size: 14px;
    color: #000;
    background: #fff;
    padding: 10px 18px;
    border: 2px solid black;
    box-shadow: none;
}

.promobanner .btn-promo-banner:hover{
    color:#fff;
    background:#000;
}

/* Grid section */
.section-grid{
    position: relative;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    background:#666666;
    margin-bottom:50px;
}
.section-grid div.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-template-rows: 260px; */
}

.section-grid div.grid div.grid-item{
    text-align: center;
    padding:40px 0px;
}

.section-grid img{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.section-grid h2{
    color:#ffffff;
    margin-bottom: 10px;
    font-size:25px;
    font-weight: bold;
}
.section-grid div.sub-title{
    color:#D9D9D9;
    margin-bottom: 10px;
    font-size:13px;
}

/* Newsletter */
.storie-newsletter{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center;
}
.storie-newsletter img{
    max-height: 325px;
    width: 100%;
    object-fit: cover;
}
.storie-newsletter div.newsletter-content{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    width: 100%;
}
div.newsletter-content .newsletter-title{
    font-size: 30px;
    font-weight: bold;
    color:#fff;
}
div.newsletter-content .newsletter-subtitle{
    font-size: 15px;
    color:#fff;
}
div.newsletter-content div.block.newsletter{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: auto;
    margin-top:35px;
}
.block.newsletter .field .control:before {
    display:none;
}
.block.newsletter input {
    height: 50px;
    width: 300px;
    padding:0px;
    text-align: center;
}
form.form.subscribe div.actions button{
    height: 50px;
    font-size:1.3rem;
    background:#1A1A1A;
    border-color: #1A1A1A;
    font-weight: 500;
}

    /* Newsletter Sidebar  */
.storie-newsletter-sidebar{
    position:relative;
    text-align: center;
}
.storie-newsletter-sidebar img{
    height: 450px;
    object-fit: cover;
    width:100%;
}
.storie-newsletter-sidebar div.newsletter-content {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    width: 100%;
}

.storie-newsletter-sidebar form.subscribe input{
    width:180px;
    margin:0px;
}
.storie-newsletter-sidebar form.subscribe div.actions{
    display: block;
}
.storie-newsletter-sidebar form.subscribe button{
    width:180px;
}
div.newsletter-content div.block.newsletter {
    margin-top:100px;
    margin-bottom:0px;
}
 /* Sidebar Categories Anchor */
.sidebar-additional div.block-compare, div.block-wishlist{
    display:none;
}
.block-title strong{
    font-size: 28px;
    visibility: hidden;
}
.block-title strong::after{
    content: "naviga";
    font-size: 28px;
    left:0;
    visibility: visible;
    position: absolute;
    text-transform: uppercase;
}
.catalog-category span.category{
    display: block;
}
.catalog-category span.category a{
    font-size: 18px;
    color:#666666;
    line-height:1.7;
    text-transform: uppercase;
}
.catalog-category >:first-child{
    margin-top:10px;
}
.catalog-category >:last-child{
    margin-bottom:50px;
}



@media only screen and (min-width:768px){
    .nav-sections-item-content > .navigation{
        background:#ffffff;
    }
    .navigation {
        background: #ffffff;
    }
    .nav-sections-item-content {
        background: #ffffff;
    }
    .footer.content .links {
        display:block !important;
        padding-right:5px !important;
    }
    .footer.content .block {
        float: none !important;
    }
    .footer.content ul {
        padding-right: 0px !important;
    }

}
@media only screen and (max-width: 991px) {
    /* Hero banner */
    .hero-banner .banner-content .header-sub-title {
        font-size: 1.5rem;
    }
    .hero-banner .banner-content .header-title {
        font-size: 3.25rem;
    }
    .hero-banner button {
        border: 1px solid #fff;
        padding: 1.125rem 2.125rem;
        font-size: 1.5rem;
    }
     /* Bottom banner newsletter */
     h2.section-title {
        font-size: 1.25rem;
    }
    .bottom-banner .newsletter-content{
        left:0px;
    }
    .newsletter-content .btn-newsletter {
        padding: 10px 10px;

    }

    /* Evidenza banner categories */
    .evidenza-column {
        flex: 50%;
        -ms-flex: 50%;
        max-width: 50%;
        padding: 0 25px;
    }
}

@media only screen and (max-width: 767px) {
    /* Hero banner */
    .hero-banner .banner-content .header-sub-title {
        font-size: 1.2rem;
    }
    .hero-banner .banner-content .header-title {
        font-size: 2.0rem;
    }
    .hero-banner button {
        border: 1px solid #fff;
        padding: 1.125rem 2.125rem;
        font-size: 1.5rem;
    }
    .copyright-section .col-copyright1 {
        text-align: center;
        margin-bottom:10px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container.promo-image{
        grid-template-rows: 180px;
    }
    .grid-container.promo-banner{
        grid-template-rows: 200px 60px;
    }
    .bottom-banner .column1{
        width:60%
    }
    .column1 .banner{
        text-align: center;
    }
    .column1 .banner img{
        display:block;
        margin:auto;
    }
    .bottom-banner .column2 {
        width: 80%;
        margin-top:10px;
    }

    /* Newsletter */

    div.newsletter-content .newsletter-title {
        font-size: 20px;
    }
    div.newsletter-content .newsletter-subtitle {
        font-size: 12px;
        color: #fff;
    }
    .block.newsletter .actions {
        display:block;
        padding-top: 10px;
    }
    form.form.subscribe div.actions button {
        width:300px;
    }

    /* Footer */
    .page-footer .footer-list {
        text-align: center;
    }
} 

@media only screen and (max-width: 450px) {
    .grid-container.promo-image{
        grid-template-rows: auto;
    }
    .grid-container.promo-banner{
        grid-template-rows: 200px 70px;
    }
    .grid-child.promo-banner-1{
        grid-column-end: 4;
    }
    .promo-banner .promo-banner-1-content {
        grid-column-end: 4;
    }
    .grid-child.promo-banner-2{
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .grid-container .promo-image-1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-container .promo-image-2{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* Newsletter and bottom banner */
    .bottom-banner .column1{
        width:90%
    }
    .bottom-banner .newsletter-content {
        bottom:0px;
        align-items:flex-end;
    }
    .newsletter-content .btn-newsletter {
        padding:3px 3px;
    }
    .newsletter-content div:nth-child(2){
        padding:10px
    }
    /* Newsletter */
    div.newsletter-content .newsletter-title {
        font-size: 15px;
    }
    .newsletter-content div:nth-child(2) {
        padding: 5px;
    }
    div.newsletter-content .newsletter-subtitle {
        font-size: 10px;
    }
    div.newsletter-content div.block.newsletter {
        margin-top:2px;
    }
    .block.newsletter input {
        height: 30px;
        width: 230px;
        margin-right: 0px;
    }
    form.form.subscribe div.actions button{
        width: 230px;
        height: 30px;
    }
    /* Evidenza banner categories */
    .evidenza-column {
        flex: 100%;
        -ms-flex: 100%;
        max-width: 100%;
        padding: 0 25px;
    }
}

@media only screen and (max-width: 300px) {
    /* Hero banner */
    .hero-banner .banner-content .header-sub-title {
        font-size: 1.2rem;
    }
    .hero-banner .banner-content .header-title {
        font-size: 2.0rem;
    }
    .hero-banner button {
        border: 1px solid #fff;
        padding: 1.125rem 2.125rem;
        font-size: 1.5rem;
    }

    .grid-container.promo-banner{
        grid-template-rows: 100px 100px;
    }
    
    /* Newsletter */
    div.newsletter-content .newsletter-title {
        font-size: 15px;
    }
    .newsletter-content div:nth-child(2) {
        padding: 0px;
    }
    div.newsletter-content .newsletter-subtitle {
        font-size: 10px;
    }
    div.newsletter-content div.block.newsletter {
        margin-top:2px;
    }
    .block.newsletter input {
        height: 20px;
        width: 200px;
        margin-right: 0px;
    }
    .block.newsletter .actions {
        padding-top: 0px;
    }
    form.form.subscribe div.actions button{
        width: 200px;
        height: 20px;
        font-size:1.1rem;
        padding-top:0px !important;
        padding-bottom:0px!important;
    }
}
.navigation .level0 > .level-top{
    text-transform: uppercase;
}
.product-item-info .float-cart{
    position: absolute;
    top: 34%;
    z-index: 11;
    left: 19%;
    outline: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.product-item-info .float-cart button>span{
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    vertical-align: middle;
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    top: 8px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;
    padding:0;
    margin-left:8px;
}

.product-item-info .float-cart .action.tocart::after {
    position: relative;
    top:-6px;
    margin-right: 6px;
    color:#fff;
}
.product-item-info .float-cart button>{
    transition: 0.3s all ease-in-out;
}
/* CATEGORIA PAGE */

.hero-banner .whatsapp-link{
    position: fixed;
    bottom: 10px;
    right: 27px;
    width: inherit;
    min-height: inherit;
    transform: scale(0.6);
    cursor: pointer;
    z-index: 111;
}
input{
    outline:none;
    border:none !important;
}
button:not(.primary){
    box-shadow: none;
}
.col-payment .icon-payment {
    margin-right: 26px;
}
.nav-sections{margin-bottom:0px !important}


/* qa verification */
.header.content{
    padding: 30px 50px 0 !important;
}
.nav-sections-item-content > .navigation{
    padding:0 30px;
}
.header.panel > .header.links > .authorization-link::after{
    margin:0 !important;
}
.header.panel > .header.links > li{
    margin:0 0 0 4px !important;
}
.panel.header{
    display: flex;
    padding: 10px 50px !important;
}
.panel.header .instagram-link{
    margin-left:14px;
}
.panel.header .top-header-links{
    display: flex;
    align-items: center;
}
.panel.header .header-offer{
    margin-left: 22px;
    font-size: 14px;
    text-transform: uppercase;
}
.product-item-name{
    text-align: left;
    margin:0 !important;
}
.price-wrapper[data-price-type="oldPrice"]{
    text-decoration: line-through;
}
.product-item .price-box .price-label{
    display: none;
}
.overlay-menu .menu-logo>a>img{
    width: 39.25rem;
    height: auto;
}
svg{
    width:2rem;
}
.slick-arrow{
    background-color: #fff !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
    width: 4.375rem !important;
    height:4.375rem !important;
    border-radius: 50%;
}
.slick-prev::before,.slick-next::before{
    font-weight: lighter;
    font-size: 31px !important;
}