.feature-product{
    text-align:center;
}

h2{
    margin-top: 6.25rem !important;
}
.custombanner .column-banner1{
    float: left; 
    width: 60%;
    padding: 5px;
}
.custombanner .column-banner2{
    float: left; 
    width: 38%;
    padding: 5px;
}
.custombanner .column-banner3{
    float: left; 
    width: 38%;
    padding: 5px;
}
.custombanner .column-banner4{
    float: left; 
    width: 60%;
    padding: 5px;
}
/* image css */
.custombanner .banner1{
    height: 460px;
    width: 100%;
}
.custombanner .banner2{
    height: 460px;
    width: 100%;
}
.logo{
    left:22vw;
}
.block-search input{
    height:60px;
}
.header.content{
    display: flex;
    align-items: center;
}
.block-search .action.search{
    top:24% !important;
    right:unset;
    left:22px;
}
.minicart-wrapper{
    display: none;
}
#search_mini_form .control input#search{
    padding:0 25px;
    background:#E9E9E9;
    border:none;
}
.nav-toggle{
    display: block !important;
    top:50% !important;
}
/* Testimoninal */
/* hero banner */
.hero-banner{
    position: relative;
}
.hero-banner .banner-content{
    position: absolute;
    top:20%;
    left:10%;
}
.hero-banner .banner-content .header-sub-title{
    font-size:1.75rem;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.hero-banner .banner-content .header-title{
    color: #fff;
    font-size:5.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 2;
}
@import url('/Muli-Bold.ttf');
*{
    font-family: 'muli', sans-serif !important;
}
.hero-banner button{
    color:#fff;
    border:2px solid #fff;
    padding:2.125rem 3.125rem ;
    background:none;
    font-size:1.5rem;
    text-transform: uppercase;
    transition:all 0.3s ease-in-out;
}
.hero-banner button:hover{
    background:#fff;
    color:#7ebdcc;
    border-color: #fff;
}
h2.section-title{
    font-size:2.25rem;
    text-transform: uppercase;
    font-weight: 600;
}
.product-item-details{
    display: flex;
    flex-direction: row;
}
.products-grid .product-item-info{
    transition: all 0.3s ease-in-out;
}
.products-grid .product-item-inner{
    display: block;
    box-shadow: none !important;
    border:none;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    z-index: 111;
}
.products-grid .product-item-actions{
    margin:auto;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active{
    background:#fff;
    box-shadow:none;
    border:none;
    margin:0;
    padding:0;

}
.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner{
    display: block;
    box-shadow: none !important;
    border:none;
    position: absolute;
    width: auto;
    height: auto;
    right: 0;
    top: 0;
    z-index: 111;
    clip: unset;
}
.action.tocart::after{
    font-size: 22px;
    line-height: 28px;
    color: #757575;
    content: '\e611';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.product-item .price-box{
    text-align: left;
}

/* Footer */

.page-footer .block-static-block{
    text-align:center;
}
.footer-list{
    text-align:left;
}

@media only screen and (min-width: 768px){
    .footer.content .links {
    display:block !important;
    padding-right:5px !important;
}
.footer.content .block {
    float: none !important;
}
.footer.content ul {
    padding-right: 0px !important;
}

}
@media  screen and (max-width: 767px){
.footer.content .links li{
    font-size:13px;
}
}

@media only screen and (max-width: 575px){
    .footer-list{
        text-align:center;
    } 
}

/* copyright */
.copyright-section{
    padding-top:20px;
}
.col-copyright1{
    text-align:left;
}

.copyright1{
    font-size:14px;
}

.col-payment{
    text-align:right;

}
.col-payment img{
    height:33px;
}
.col-copyright1{
    text-align:left;
}
.footer-quicklink{
    padding-bottom:7px;
}

@media screen and (max-width: 767px) {
    .col-payment{
        text-align:center;
    }
    .col-copyright1{
        text-align:center;
    }
}
.copyright{
    display: none;
}


/* Bottom Banner */
.bottom-banner .column1{
    width:40%;
    padding:15px;
    height:300px;
}
.bottom-banner .column1 .banner{
    float:right;
    width: 70%;
    height: 100%;
}
.bottom-banner .column1 .banner{
    padding:10px 10px 10px 20px;
    border: 1px solid #666666;
}
.bottom-banner .column1 img{
    height:45px;
    background-size: cover;
}
.bottom-banner .column1 .banner .banner-title{
    font-size:22px;
    line-height: 1.0;
    color:#1A1A1A;
    text-align: left;
    font-weight: bold;
}
.bottom-banner .column1 .banner .banner-desc{
    font-size:12px;
    line-height: 1.0;
    color:#4C4D4F;
    text-align: left;
}
.bottom-banner .column1 .banner .banner-subtitle{
    font-size: 15px;
    color:#1A1A1A;
    line-height: 1.0;
    text-align: left;
    font-weight: bold;
}

.bottom-banner .column2{
    width:60%;
    padding:15px;
    height:300px;
    position: relative;
}
.bottom-banner .column2 img{
    float:left;
    width:90%;
    height: 100%;
}
.newsletter-content{
    position: absolute;
    bottom:10%;
    left:5%;
}
.newsletter-content .banner-title{
    font-size:22px;
    color:#ffffff;
    text-align: left;
    font-weight: bold;
}
.newsletter-content .banner-desc{
    font-size:16px;
    color:#ffffff;
    text-align: left;
}
.btn-newsletter{
    background-color:#1A1A1A !important;
    text-transform: uppercase;
    bottom: 15%;
    position: absolute;
    left: 63%;
    color: white !important;
    background-color: #1A1A1A;
    height: 50px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media screen and  (max-width:500px){
    .bottom-banner .column1 , .bottom-banner .column2{
        width:100%;
        text-align: center;
    }
    .bottom-banner img{
        float:none !important;
        width: 100% !important;
    }
    
}
